beautifulsoup4>=4.9.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
greenlet==3.1.1
idna==3.10
lxml>=4.6.3
playwright>=1.30.0
pyee==12.1.1
python-dotenv>=0.19.0
requests>=2.25.1
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
pytest>=7.0.0
pytest-mock>=3.10.0
